html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background: #000;
}
body {
  display: table;
}
* {
  font-family: "Avenir";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
section {
  color: #ffffff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}
h3 {
  color: #ffffff;
  margin-bottom: 50px;
}
.container {
  border-radius: 7px;
  width: 25%;
  margin: 0 auto;
  display: block;
}
input {
  box-sizing: border-box;
  outline: none;
  margin: 15px auto;
  border: 2px solid #000;
  color: #000;
  background-color: #ffffff;
  height: 40px;
  font-size: 16px;
  width: 50%;
  text-indent: 10px;
  border-radius: 2px;
  cursor: pointer;
  display: block;
}
button {
  cursor: pointer;
  outline: none;
  margin: 15px auto;
  border: 2px solid #000;
  color: #000;
  background-color: #ffffff;
  height: 40px;
  font-size: 16px;
  width: 50%;
  text-indent: 10px;
  border-radius: 2px;
  display: block;
}
button:hover,
input:hover {
  background-color: #eee;
  transition: 0.5s;
}
.errorText {
  display: block;
}
@media (max-width: 625px) {
  .container {
    width: 95%;
  }
  h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }
}
